$se: '360px';
$sm: '575px';
$md: '767px';
$lg: '992px';
$xl: '1200px';
$xxl: '1400px';
$qhd: '2048px';

$light-gray: #F7F7F7;
$dark-gray: #2D2D2D;
$text-gray: #575756;
$gray: #8F8F8F;

$green: #4AB04B;
$white: #FFFFFF;
$orange: #FCB82D;
$yellow: #FFCC00;
$black: #363435;
$blue: #2271b1;

$filter-yellow: invert(82%) sepia(31%) saturate(1779%) hue-rotate(355deg) brightness(97%) contrast(110%);
$filter-dark-gray: invert(12%) sepia(2%) saturate(3%) hue-rotate(315deg) brightness(102%) contrast(85%);
$filter-gray: invert(58%) sepia(38%) saturate(0%) hue-rotate(140deg) brightness(91%) contrast(91%);